.sidebar-nav-custom {
	display: flex;
	flex-direction: row;
	@media (max-width: 992px) {
		flex-direction: column;
	}
}
.left-sidebar {
	flex: 0 0 19%;
	justify-content: center;
	align-items: center;
	// border-left: 0.2rem solid rgba($color: $primary-light, $alpha: 0.7);
	@media (max-width: 992px) {
		// display: none;
	}
	h5 {
		// display: block;
		width: 100%;
		text-align: center;
		letter-spacing: 1px;
		line-height: 2rem;
		font-weight: 900;
		color: rgba($color: $font-color-1, $alpha: 0.8);
		&::after {
			content: "";
			display: block;
			background: rgba($color: #000000, $alpha: 0.3);
			width: 40%;
			height: 2px;
			margin: 3px auto 0px;
		}
	}
	a {
		text-decoration: none;
		color: rgba($color: $font-color-1, $alpha: 0.8);
	}
}
.sidebar-custom {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.sidebar-link {
	font-size: 15px;
	font-family: $font-subtitle;
	box-sizing: border-box;
	display: block;
	padding: 0.8rem calc(1rem + 0.4rem);
	transition: background ease-in 150ms;
	border-radius: 3px;
}
.sidebar-item.active .sidebar-link {
	color: $white;
	border-left: 0.2rem solid rgba($color: $primary-light, $alpha: 1);
	background: rgba($color: $primary-light, $alpha: 0.6);
}
.sidebar-item.active:hover .sidebar-link {
	background: rgba($color: $primary-light, $alpha: 0.6);
}
.sidebar-item:hover .sidebar-link {
	background: rgba($color: $primary-light, $alpha: 0.2);
}
.left-header {
	display: flex;
}
// Right Design
.right-sidebar {
	flex: 1 0 auto;
	margin-left: 3rem;
	@media (max-width: 992px) {
		margin-left: 0px;
		flex: 0 0 100%;
	}
}
.right-header {
	h4 {
		letter-spacing: 1px;
		line-height: 2rem;
		font-weight: 900;
		text-align: center;
		color: rgba($color: $font-color-1, $alpha: 0.8);
		&::after {
			content: "";
			display: block;
			background: rgba($color: #000000, $alpha: 0.3);
			width: 30%;
			height: 2px;
			margin: 3px auto 0px;
		}
	}
	h4.profil {
		&::after {
			width: 15%;
		}
	}
}
.right-body {
	justify-content: space-between;
	.nav-item {
		flex: 1 0 auto;
		text-align: center;
		font-family: $font-subtitle;
		border: none;
		overflow: hidden;
		&:hover .nav-link::after {
			transform: translateX(10%);
		}
	}
	.nav-link {
		color: rgba($color: $font-color-1, $alpha: 0.8);
		padding: 1rem 0px;
		&::after {
			content: "";
			display: block;
			background: rgba($color: $primary-light, $alpha: 0.8);
			width: 90%;
			height: 2px;
			margin: 0.7rem auto 0px;
			transform: translateX(-110%);
			transition: transform ease-in 200ms;
		}
	}
	.nav-link.active {
		color: $primary-dark;
		&::after {
			transform: translateX(10%);
		}
	}
	table {
		color: rgba($color: $font-color-1, $alpha: 0.8);
	}
}
